* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f2f9f9;
}

:is(h1, h2, h3, h4, h5, h6, p, span, ul, ol) {
    margin: 0;
    padding: 0;
}

header {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 40px;
    text-align: center;
}

section.hero {
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    text-align: center;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background: url(../image/left-bottom-patten.svg) no-repeat;
        width: 11rem;
        height: 13.8rem;
        left: 0;
        bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        background: url(../image/left-bottom-patten.svg) no-repeat;
        width: 11rem;
        height: 13.8rem;
        right: 0;
        top: 0;
        transform: rotate(-180deg);
    }
}

.new {
    color: #011616;
    font-family: Poppins;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.045rem;
    padding-bottom: 1rem;
}

h1.coming {
    font-family: Poppins;
    font-size: 8.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.9375rem;
    letter-spacing: -0.135rem;
}

a.social-icon {
    display: flex;
    align-items: center;
    background: #106666;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    justify-content: center;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

.container{
    margin: auto;
    margin: 0 1rem;
}