a.social-icon,
section.hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #f2f9f9
}

:is(h1, h2, h3, h4, h5, h6, p, span, ul, ol) {
    margin: 0;
    padding: 0;
    font-style: normal;
}

header {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    padding: 40px;
    text-align: center
}

section.hero {
    height: calc(100vh);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0;
    text-align: center;
    position: relative
}

.new {
    color: #011616;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.045rem;
    padding-bottom: 1rem
}

h1.coming {
    font-size: 8.5rem;
    font-weight: 700;
    line-height: 5.9375rem;
    letter-spacing: -.135rem
}

a.social-icon {
    background: #106666;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
    gap: 1rem
}

.container {
    margin: 0 1rem
}